*
!/**/
!*.*
.Rproj.user
/.quarto/
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.rds
.tsv.gz
.gz
.tar.gz
.tar
.zip
.dll
.exe
.dta
.tsv
.txt
.rdb
.dta
**.dta
**/.rdb
**/.dta
*.rds
*.rdb
**/.DS_Store
**/.rds
*/index_cache/*
**/index_cache/*
/_freeze/
programming/2019-04-08-re-districting-in-winston-salem/data/ncvhis34.txt
ncvhis34.txt